APScheduler==3.11.2
beautifulsoup4==4.14.3
blinker==1.9.0
cachetools==7.0.2
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
contourpy @ file:///home/builder/.termux-build/python-contourpy/src/dist/contourpy-1.3.3-cp313-cp313-android_aarch64.whl#sha256=32bb3daa08435db785b67124a06541b1146679f7cc8a0e6813a65345cb3c4138
cssselect==1.4.0
cssutils==2.11.1
cycler==0.12.1
Deprecated==1.3.1
Flask==3.1.3
Flask-APScheduler==1.13.1
flask-cors==6.0.2
Flask-Limiter==4.1.1
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
fonttools==4.61.1
fpdf==1.7.2
frozendict==2.4.7
greenlet==3.3.2
gunicorn==25.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
limits==5.8.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib @ file:///home/builder/.termux-build/matplotlib/src/dist/matplotlib-3.10.8-cp313-cp313-android_aarch64.whl#sha256=a23cf2e77cbc9258d328366ef90d4b4b3aa98cfc37cfd43a2cc28a6cb4c13d82
more-itertools==10.8.0
multitasking==0.0.12
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.4.3-cp313-cp313-android_aarch64.whl#sha256=8ef35b7e7291aa8501ff0be8f354f3b089c4e0c08e9a905301b3551814601263
ordered-set==4.1.0
packaging==26.0
pandas @ file:///home/builder/.termux-build/python-pandas/src/dist/pandas-3.0.2-cp313-cp313-android_aarch64.whl#sha256=1fceb33c6324048bc6ee6bee30928f882d664f2a80e0f0f984b541f38bfbbd27
peewee==4.0.2
pillow @ file:///home/builder/.termux-build/python-pillow/src
platformdirs==4.9.4
premailer==3.10.0
protobuf==7.34.1
psycopg2-binary==2.9.11
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.32.5
sentry-sdk==2.55.0
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.48
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
websockets==16.0
Werkzeug==3.1.6
wrapt==2.1.2
yagmail==0.15.293
yfinance==1.2.0
